body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;
}

h1 {
  margin-bottom: 2em;
}

.container {
  width: 80%;
  max-width: 1000px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a, 
button {
  color: #254e03;
  border: 2px solid #254e03;
  padding: 0.5em;
  font-size: 1.5em;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
}

a:hover,
button:hover {
  color: #357203;
  border: 2px solid #357203;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 5px;
}

.msg-title {
  font-size: 1.75em;
  font-weight: bold;
  background-color: rgb(184, 245, 184);
  padding: 5px;
  margin-top: 2em;
  margin-left: 0;
}

.msg-text {
  font-size: 1.4em;
  border-bottom: 1px solid rgb(235, 241, 221);
  line-height: 1.5em;
}

.msg-info {
  display: flex;
  justify-content: space-between;
}

.msg-user {
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  width: 60%;
  max-width: 600px;
  /* margin: auto; */
  font-size: 1.2em;
}

label {
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 2em;
}

input {
  margin-top: 5px;
  margin-bottom: 10px;
}

button {
  margin-top: 10px;
  margin-bottom: 10px;
}

#form-title {
  text-align: center;
}